body{
    position: center;
    margin-left : 500px;
   /* background-color: darkslategrey;*/
    /*background-color:red;*/
    background-image: url("1_sPzokDLSd6OFjiy9yEMp8Q.jpeg");
    background-repeat: round;
    
  }

ul.navbar{
    position: absolute;
    top: 30px;
    left: -20px;
    width: 150px;
    list-style-type: none;
}
p{
    color: white;
}
ul.navbar li {
    background-color: white;
    margin: 5px 0;
    padding: 5px;
    border-right: 1px solid #17252a;
    border-top: 1px solid #17252a;
    border-left: 5px solid #17252a;
    border-bottom: 1px solid #17252a;
  }
  ul.navbar label{
    
    color: black;
    padding: 10px;
  }
  
  ul.navbar a {
    text-decoration: none
  }
  a:link {
    color: blue;
  }
  
  a:visited {
    color: white;
  }
  .block{
    width: 450 px;
    margin: 0 auto;
    height: 500px;
  }
  .block label{
    padding:5px;
    font-size: 20px;
  }
  .inputvalues{
    width: 430px;
    margin: 0 auto;
    padding: 10px;
  }
  .values{
    width: 200px;
    padding: 5px;
  }
  .form{
    width: 500px;
    /*margin: 0 auto;*/
    background: white;
    margin-top: 5px;
    margin-left: -110px;
    margin-bottom: 0px;
    margin-top: 110px;
    padding:5px;
    border : 2px solid #2c3e50;
    
  }
  .bar{
    width: 1700px;
    height:1px;
    padding: 6px;
    color: black;
    margin-top: 0px;
    margin-left:-500px;
    margin-bottom:0px;
    margin-right :0px;
    /*border: 2px transparent #17252a;*/
    background-color: black;
  }
  .image{
    margin-left: -200px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom:  0px;
    letter-spacing: 20px;
  }

  .little_radio{
    display: inline-block;
  }
  
  .btn_reset{
    width: 100px;
    padding: 8px;
    background: red;
  }
  
  .btn_submit{
    width: 100px;
    padding: 8px;
    background: green;
  }
  .little_image{
    opacity: 0.6;
  }
  .video{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -200px;
    margin-right:0px;
    
  }